.input-container, .select-container{
    margin-bottom: 60px;

}

.input-container{
    
}



.input_label{
    font-size: 30px;
    margin: 0 5px 40px 0 ;
}

.input{
    width: 350px;
    height: 50px;
    border: 2px solid black;
    font-weight: 400;
    font-size: 20px;
    box-sizing: border-box;
    position: relative;
}

.input:focus{
    box-shadow: 4px 8px 6px rgba(21, 65, 99, 0.45);
    outline: none;
}

.input[data-invalid]{
    border-color: #f00;
}


.errorMessage{
    position: absolute;
    top: 64px;
    font-size: 30px;
    left: 108px;
    color: #f00;
}


.button{
    width: 350px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 10px 8px 8px rgba(0, 0, 0, .508);
    background-color: rgb(234, 222, 222);
    border-radius: 8px;
    font-size: 22px;
    margin-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
}



