.button {
    height: 35px;
    width: 225px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: cornflowerblue;
    border: 1px solid rgb(45, 70, 116);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 30px;

}