body{
    font-family: sans-serif;
}


.form-container{
    padding: 15px 50px;
    border-bottom: 2px solid rgb(151, 144, 144);
}

.select{
    border-radius: 6px;
    width: 150px;
   
}

.input{
    margin-left: 15px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid;
    
}

.button{
    width: 150px;
    border-radius: 6px;
    font-size: 18px;
    margin-left: 15px;
    
}