body{
    font-family: sans-serif;
}


.container{
    padding: 15px 50px;
    border-bottom: 2px rgb(44, 28, 28);
}

.option{
    border-radius: 6px;
}

.input{
    margin-left: 15px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid;
    
}

.button{
    width: 150px;
    border-radius: 6px;
    font-size: 18px;
    
}